body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
#dashboard_nav {
    width: 20%;
    height: 100vh;
    background-color: #8B8B8B;
}
#dashboard_nav ul {
    list-style: none;
}
#dashboard_nav li {
    padding: 5px 0;
}
#dashboard_nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.selected {
    font-weight: 900;
}
#dashboard_name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sub_list {
    font-size: .75em;
}
#dashboard_main {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#dashboard_heading {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
#section_name {
    color: #8B8B8B;
}
/* inventory page */
#dashboard_heading button {
    background: #8B8B8B;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-weight: 600;
}
#inventory_table {
    margin: 20px auto;
    color: #8B8B8B;
}
#inventory_table, #inventory_table th, #inventory_table td {
    border: solid #8B8B8B 1px;
    border-collapse: collapse;
}
#inventory_table th, #inventory_table td {
    height: 20px;
    padding: 5px;
    min-width: 100px;
}

/* product.html */
#product_form{
    display: flex;
    flex-direction: row;
}
#product_names, #category_names {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#product_list, #category_list {
    margin: 5px;
    padding: 5px;
    background: #8B8B8B;
    color: #ffffff;
}
#product_list option, #category_list option {
    background: #ffffff;
    color: #8B8B8B;
}
#new_product_input, #new_category_input, .product_info {
    margin: 5px;
    padding: 5px;
}
.product_info {
    width: 100px;
    background: #ffffff;
    border: solid 2px #8B8B8B;
}
.product_headers {
    margin-top: 5px;
    color: #8B8B8B;
}
#image_layout {
    display: flex;
    flex-direction: column;
}
#image_preview {
    margin-top: 20px;
    border: #8B8B8B 1px solid;
    width: 100px;
}