body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#dashboard_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    padding: 0 10px;
}
#sellers_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
}
#sellers_image {
    height: 4vh;
    margin-left: 3px;
}
#sellers_company_name {
    margin-left: 10px;
}
#logout_button {
    padding: 8px;
    margin-right: 20px;
}
#dashboard_info {
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 100%;
   background-color:#24272C;
}
#dashboard_nav {
    width: 12%;
    height: 100vh;
    background-color: #FFFFFF;
    color: #24272C;
}
#dashboard_main {
    width: 85%;
    padding: 20px;
    color: #FFFFFF;
}
#exit_nav {
    margin: 5px 5px 0 0;
    text-align: center;
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.company_name {
    margin-top: 50px;
    text-align: center;
}
.nav_list {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.nav_list li {
    padding: 5px 10px;
    text-align: center;
}
.nav_list span li {
    margin: 20px 0;
}
.nav_list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #24272C;
    text-align: center;
}
.nav_icon {
    font-size: 30px;
}
.selected {
    font-weight: 900;
}
.sub_list {
    font-size: .75em;
}
.hidden {
    display: none;
}
/* closed nav styling */
#closed_nav {
    background-color: #24272C;
    height: 100vh;
    width: 5%
}
#closed_nav ul{
    margin: 0;
    height: 96%;
}
#closed_nav ul span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.closed_nav_icon {
    font-size: 30px;
    color: #FFFFFF;
}
#hamburger_menu {
    margin: 0 auto;
    font-size: 25px;
    cursor: pointer;
}








button {
    color: #ffffff;
    background-color: #298BD4;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.dashboard_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background-color: #2E3136;
}
/* top products row */
#top_products_header {
    margin: 10px 10px 0 10px;
    font-size: 16px;
}
.top_product {
   width: 50%;
}
#top_products {
    height: 15vh;
    width: 100%;
}
.top_product_image {
    height: 80%;
    margin: 0 10px;
}
.top_product_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-right: 10px;
}
.top_product_name, .progress_label, .progress_min, .progress_max {
    margin: 0;
    padding: 0;
}
.top_product_name {
    font-size: 18px;
    font-weight: 600;
}
.progress_label {
    margin: 10px 0 5px 0;
}
.top_product_stock{
    display: flex;
    align-items: center;
    justify-content: center;
}
progress[value]{
    content: "40%";
    width: 140px;
    margin: 0 5px;
}
@media only screen and (max-width: 500px) {
    #dashboard_nav {
        width: 12%;
    }
    #dashboard_main {
        width: 92%;
        padding: 5px;
    }
    #dashboard_info {
        height: 200vh;
        /* width: 100vw; */
    }
    .dashboard_row {
        display: flex;
        flex-direction: column;
    }
    #top_products {
        height: 50vh;
        width: 100%;
    }
    #top_product {
        width: 200px;
    }
    .top_product_info {
        width: auto;
    }
    .top_product_name, .progress_label, .progress_min, .progress_max {
        margin: 0;
        padding: 0;
    }
    .top_product_name {
        font-size: 18px;
        font-weight: 600;
    }
}




/* graphs row */
.graphs {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 25vh;
    padding: 10px; 
}
/* orders and reviews row */
#orders_section, #reviews_section {
    padding: 10px;
    height: 35vh;
    
}
#orders_section {
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
    
}
#reviews_section {
    flex-direction: row;
    width: 40%;
}
.section_header {
    margin: 0;
    font-size: 25px;
    text-align: center;
    width: 100%;
}
#orders {
    width: 100%;
    margin: 5px auto 0 auto;
    border-collapse: collapse;
}
#orders th, #orders td {
    min-width: 60px;
    padding: 5px;
}
#orders th {
    color: rgba(255, 255, 255, 0.8);
}
#orders td {
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
    
}
#orders tr {
    border-bottom: 1px solid rgb(76, 90, 99);
}
.order_action_buttons {
    display: flex;
    justify-content: space-evenly;
}
.view_order_button, .ship_order_button {
    padding: 5px;
}
#orders_button {
    padding: 5px;
    margin-right: 20px;
    justify-content: center;
}
#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review_product_image {
    height: 100px;
    margin-top: 10px;
}
.reviewer_name, .review {
    margin: 10px 0 0 0;
}
.review {
    width: 80%;
}
.checked_star {
    color: #298BD4;
}
.review_arrows {
    font-size: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 925px) {
    #logout_button {
        margin-right: 20px;
    }
}



/* dashboard login page */
#login_page {
    margin: 20vh auto 0 auto;
    background-color: #2E3136;
}
#login_element {
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    color: #FFFFFF;
    background-color: #24272C;
}
#login_buttons {
    display: flex;
    width: 100%;
}
.login_button {
    width: 50%;
    height: 50px;
    background-color:#454955;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}
.login_button:focus {
    outline: none;
}
#sign_up_form, #login_form {
    height: 350px;
}
.selected_login {
    background-color: #298BD4;
}
.form_header {
    text-align: center;
}
.login_section {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.login_icon {
    padding: 7px;
    background: #454955;
    color: #FFFFFF;
}
.login_input {
    padding: 5px;
    width: 300px;
    background: #454955;
    color: #ffffff;
    border: none;
}
.login_input:focus {
    outline: none;
}
#first_name, #last_name {
    width: 122px;
}
#first_name {
    margin-right: 10px;
}
#sign_up_button, #login_button {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    align-self: center;
    background-color: #298BD4;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* mobile view */
@media only screen and (max-width: 480px) {
    /* dashboard login page */
    #login_element {
        width: 300px;
    }
    #first_name, #last_name {
        width: 93px;
    }
}







/* inventory.html */
#dashboard_heading {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
#section_name {
    color:#FFFFFF;
}
/* inventory page */
#dashboard_heading button {
    background: #298BD4;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-weight: 600;
}
#inventory_table {
    margin: 20px auto;
    color: #8B8B8B;
}
#inventory_table, #inventory_table th, #inventory_table td {
    border: solid #8B8B8B 1px;
    border-collapse: collapse;
}
#inventory_table th, #inventory_table td {
    height: 20px;
    padding: 5px;
    min-width: 100px;
}

/* product.html */
#product_form{
    display: flex;
    flex-direction: row;
}
#product_names, #category_names {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#product_list, #category_list {
    margin: 5px;
    padding: 5px;
    background: #8B8B8B;
    color: #ffffff;
}
#product_list option, #category_list option {
    background: #ffffff;
    color: #8B8B8B;
}
#new_product_input, #new_category_input, .product_info {
    margin: 5px;
    padding: 5px;
}
.product_info {
    width: 100px;
    background: #ffffff;
    border: solid 2px #8B8B8B;
}
.product_headers {
    margin-top: 5px;
    color: #8B8B8B;
}
#image_layout {
    display: flex;
    flex-direction: column;
}
#image_preview {
    margin-top: 20px;
    border: #8B8B8B 1px solid;
    width: 100px;
}